@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<Body2>
    <div class="column align-content-between">
        <img src="~/Img/logo.png" />
    </div>
    <div>
        <h1 class="jumbotron-travel" style="padding-top: 55px; padding-right: 30px; padding-left: 30px;">
            <b>Welcome to Travel Experts!</b>
        </h1>
    </div>
</Body2>
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <p class="jumbotron-head text-center" style="padding:5px;">
        Nunc shizzle my nizzle crocodizzle arcu. Donec ante. Yo mamma break it down <br />
        mauris izzle shit. Morbi izzle away.Cras izzle tortizzle izzle fo shizzle<br />
        mah nizzle fo rizzle, mah home g-dizzle consectetizzle condimentizzle. <br />
        Lorizzle pizzle dolizzle gangster away, consectetuer adipiscing owned. <br />
        Curabitizzle boofron arcu, elementizzle nizzle, yippiyo izzle, mollis <br />
        go to hizzle, est. Aliquizzle for sure volutpizzle. <br />
    </p>
    <div class="center">
        <div class="button1">@Html.ActionLink("Go to packages", "Index", "Package", null, null)</div>
    </div>
</div>