<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerRegistrationMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <h1 class="@(TempData["IsError"] != null?"bg-danger":"bg-info") text-center bg- text-white p-2">@TempData["Message"]</h1>
    }
    <header>
        <nav>
            <ul>
                <li class="navbar-brand align-text-center"> 
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Img/logo.png" style="width:auto; height:6rem;">
                    </a></li>

                <li class="navbar-brand align-text-center">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="navbar-brand align-text-center">
                    <a class="nav-link" asp-controller="Package" asp-action="Index">View Packages</a>
                </li>

                <li class="navbar-brand">
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-mut">
        <div class="container">
            &copy; 2022 - Travel Experts
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
