
@if (User.Identity.IsAuthenticated)
{
    <li class="navbar-brand align-text-center">
        <a class="nav-link" asp-controller="Booking" asp-action="Index">My Bookings</a>
    </li>

    <li class="navbar-brand float-right">
        <h4 class="nav-link" title="Welcome">
            <b style="color: white">Welcome @User.Identity.Name</b>
        </h4>
        <a class="nav-link navbar-text" asp-controller="Customer" asp-action="Logout" asp-route-returnUrl=@Url.Action("Index", "Home")>Logout</a>
        <a class="nav-link navbar-text" asp-controller="Customer" asp-action="Create">Change Account Info</a>
    </li>

}
else
{
    <li class="navbar-brand float-right" style="margin-top:27px;">
        <a class="nav-link" asp-controller="Customer" asp-action="Create">Register</a>
    </li>
    <li class="navbar-brand float-right" style="margin-top:27px;">
        <a class="nav-link" asp-controller="Customer" asp-action="Login">Login</a>
    </li>
}
