@model ProductData.Customer

@{
    ViewData["Title"] = "Create";
}
<br />
<br />
<section class="jumbotron">
    <div class="text-center">
        <h class="jumbotron-register display-1 ">
            <b>Register Now!</b>
        </h>
    </div>
</section>

    <section class="container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.CustomerID != null)
                {
                    <input type="hidden" asp-for="CustomerId" value="@ViewBag.CustomerID" />
                }
                <div class="form-group row">
                    <label asp-for="CustFirstName" class="control-label">First Name</label>
                    <input asp-for="CustFirstName" class="form-control" />
                    <span asp-validation-for="CustFirstName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="CustLastName" class="control-label">Last Name</label>
                    <input asp-for="CustLastName" class="form-control" />
                    <span asp-validation-for="CustLastName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="CustAddress" class="control-label">Address</label>
                    <input asp-for="CustAddress" class="form-control" />
                    <span asp-validation-for="CustAddress" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="CustCity" class="control-label">City</label>
                    <input asp-for="CustCity" class="form-control" />
                    <span asp-validation-for="CustCity" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="CustProv" class="control-label">Province</label>
                    <input asp-for="CustProv" class="form-control" />
                    <span asp-validation-for="CustProv" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="CustPostal" class="control-label">Postal Code</label>
                    <input asp-for="CustPostal" class="form-control" />
                    <span asp-validation-for="CustPostal" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    @*NEED TO MAKE THIS A SELECT LIST AS WE DONT WANT NULL OR EMPTY*@
                    <label asp-for="CustCountry" class="control-label">Country</label>
                    <input asp-for="CustCountry" class="form-control" />
                    <span asp-validation-for="CustCountry" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="CustHomePhone" class="control-label"></label>
            <input asp-for="CustHomePhone" class="form-control" />
            <span asp-validation-for="CustHomePhone" class="text-danger"></span>
        </div>*@
                <div class="form-group row">
                    <label asp-for="CustBusPhone" class="control-label">Phone Number</label>
                    <input asp-for="CustBusPhone" class="form-control" />
                    <span asp-validation-for="CustBusPhone" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="CustEmail" class="control-label">Email</label>
                    <input asp-for="CustEmail" class="form-control" />
                    <span asp-validation-for="CustEmail" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="AgentId" class="control-label"></label>
            <input asp-for="AgentId" class="form-control" />
            <span asp-validation-for="AgentId" class="text-danger"></span>
        </div>*@
                <div class="form-group row">
                    <label asp-for="CustPassword" class="control-label">Password</label>
                    <input asp-for="CustPassword" class="form-control" />
                    <span asp-validation-for="CustPassword" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    @if (ViewBag.CustomerID != null)
                    {
                        <input type="submit" value="Update" class="button1" /><div>&nbsp;&nbsp;</div>
                        <input class="button1" type="button" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
                    }
                    else
                    {
                        <input type="submit" value="Create" class="button1" /><div>&nbsp;&nbsp;</div>
                        <input class="button1" type="reset" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
                    }
                </div>
            </form>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </section>