@model ProductData.Customer
@{
    ViewData["Title"] = "Login Page";
}

<br />
<br />
<section class="jumbotron-login">
    <div class="text-center">
        <h1 class="jumbotron-title display-1 ">
            <b>Login</b>
        </h1>
        <br />
        <h2 class="jumbotron-subtitle">
            Login to your account or create one using the register link.
        </h2>
    </div>
    <br />
    <div class="container-login">
        <form asp-action="Login">
            <div class="form-group">
                <div><label>Email:</label></div>
                <div style="width:50%">
                    <input type="text" asp-for="CustEmail" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="CustEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div><label>Password:</label></div>
                    <div style="width:50%;">
                        <input type="password" asp-for="CustPassword" class="form-control" />
                    </div>
                    <div class="col">
                        <span asp-validation-for="CustPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Authenticate" class="button-login">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="button-login" type="button" value="Register Now!" onclick="location.href='@Url.Action("Create","Customer")'" />
                </div>
            </div>
        </form>
    </div>
</section>
