
/*CSS Mostly done By Brendan, Im not sure who else added to it*/


html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

label{
    font-weight: bold;
}

.footer {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    color:white;
    line-height: 30px; /* Vertically center the text there */
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(/Img/plane2.jpg);
    background-size: cover;
    background-color: rgba(100, 149, 237, 0.6);
}

/*first box on each page css template*/
.jumbotron {
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: 4px ridge rgba(100, 149, 237, 0.6);
}
.jumbotron-register {
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: 4px ridge rgba(100, 149, 237, 0.6);
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    padding-right: 2em;
    padding-left: 2em;
}

.jumbotron-title {
    color: white;
    font-size: 68px;
}

.jumbotron-head {
    background: rgba(0,0,0,0.3);
    color: white;
    border: 4px ridge rgba(100, 149, 237, 0.6);
    font-size: 20px;
    background-size: auto;
}

.jumbotron-subtitle {
    font-size: 25px;
}
.register-title {
    color: white;
    font-size: 50px;
}
.jumbotron-current {
    color: white;
    font-size: 37px;
}
.jumbotron-travel {
    color: white;
    font-size: 50px;
}
.jumbotron-booking {
    color: white;
    background: rgba(0,0,0,0.3);
    border: 4px ridge rgba(100, 149, 237, 0.6);
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    width:50%;
    transform: translate(50%);
}
.jumbotron-package {
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: 4px ridge rgba(100, 149, 237, 0.6);
    padding-left:20px;
    padding-top:5px;
}
.jumbotron-login {
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: 4px ridge rgba(100, 149, 237, 0.6);
    padding-bottom:1.5em;
    padding-top:1.5em;
    padding-right:2em;
    padding-left:2em;
}
/*navbar*/
nav {
    width: 100%;
    height: 7rem;
    background-color: rgba(0,0,0,0.3);
    border: 4px ridge rgba(100, 149, 237, 0.6);
}
.nav-link{
    color:White;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-text {
    font-size: 15px;
    float: right;
}

.navbar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: rgba(100, 149, 237, 0.6);
    border-radius: 35px;
    color:black;
}

li a {
    display: block;
    font-size: 20px;
    text-align: center;
}

table {
    border: 4px ridge rgba(100, 149, 237, 0.6);
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: 25px 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    width: fit-content;
    align-content: center;
}

/*login form*/
.container-login {
    transform: translate(25%);
}

tr:nth-child(even):hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

tr:nth-child(even) {
    background-color: rgba(100, 149, 237, 0.6)
}

th {
    background-color: rgba(0,0,0, 0.8);
    color: white;
    border: 1px solid Black;
    text-align: center;
    position: sticky;
}

.opacity{
    opacity: 0.5;
}

thead {
    position: sticky;
    top: 0;
}

td {
    border: 1px solid Black;
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;
}


/*Buttons*/
.button1 {
    background: #73A8FF;
    background-image: -webkit-linear-gradient(top, #73A8FF, #00234C);
    background-image: -moz-linear-gradient(top, #73A8FF, #00234C);
    background-image: -o-linear-gradient(top, #73A8FF, #00234C);
    background-image: -webkit-gradient(to bottom, #73A8FF, #00234C);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 28px;
    font-weight: 100;
    padding: 10px;
    text-shadow: 1px 1px 3px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

    .button1:hover {
        background: #00234C;
        background-image: -webkit-linear-gradient(top, #00234C, #73A8FF);
        background-image: -moz-linear-gradient(top, #00234C, #73A8FF);
        background-image: -o-linear-gradient(top, #00234C, #73A8FF);
        background-image: -webkit-gradient(to bottom, #00234C, #73A8FF);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
    }

    /*login buttons*/
.button-login {
    background: #73A8FF;
    background-image: -webkit-linear-gradient(top, #73A8FF, #00234C);
    background-image: -moz-linear-gradient(top, #73A8FF, #00234C);
    background-image: -o-linear-gradient(top, #73A8FF, #00234C);
    background-image: -webkit-gradient(to bottom, #73A8FF, #00234C);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 19px;
    font-weight: 100;
    padding: 10px;
    text-shadow: 1px 1px 3px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

    .button-login:hover {
        background: #00234C;
        background-image: -webkit-linear-gradient(top, #00234C, #73A8FF);
        background-image: -moz-linear-gradient(top, #00234C, #73A8FF);
        background-image: -o-linear-gradient(top, #00234C, #73A8FF);
        background-image: -webkit-gradient(to bottom, #00234C, #73A8FF);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
    }
/* detail Button*/
.button-detail {
    background: #73A8FF;
    background-image: -webkit-linear-gradient(top, #73A8FF, #00234C);
    background-image: -moz-linear-gradient(top, #73A8FF, #00234C);
    background-image: -o-linear-gradient(top, #73A8FF, #00234C);
    background-image: -webkit-gradient(to bottom, #73A8FF, #00234C);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    padding: 2px;
    text-shadow: 1px 1px 3px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

    .button-detail:hover {
        background: #00234C;
        background-image: -webkit-linear-gradient(top, #00234C, #73A8FF);
        background-image: -moz-linear-gradient(top, #00234C, #73A8FF);
        background-image: -o-linear-gradient(top, #00234C, #73A8FF);
        background-image: -webkit-gradient(to bottom, #00234C, #73A8FF);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-decoration: none;
    }
/* available packages Buttons*/
.button-pkg {
    background: #73A8FF;
    background-image: -webkit-linear-gradient(top, #73A8FF, #00234C);
    background-image: -moz-linear-gradient(top, #73A8FF, #00234C);
    background-image: -o-linear-gradient(top, #73A8FF, #00234C);
    background-image: -webkit-gradient(to bottom, #73A8FF, #00234C);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    padding: 2px;
    text-shadow: 1px 1px 3px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

    .button-pkg:hover {
        background: #00234C;
        background-image: -webkit-linear-gradient(top, #00234C, #73A8FF);
        background-image: -moz-linear-gradient(top, #00234C, #73A8FF);
        background-image: -o-linear-gradient(top, #00234C, #73A8FF);
        background-image: -webkit-gradient(to bottom, #00234C, #73A8FF);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-decoration: none;
    }

  /*Centers register buttons*/
.center-register-btn {
    transform: translate(25%);
}
/*Centers create booking buttons*/
.center-booking-btn {
    transform: translate(10%, 10%);
}
.center-booking-details {
    transform: translate(25%);
}
/*home BODY2 css*/

body2 {
    font-size: 17px;
    color: white;
    white-space: normal;
    text-align: center;
    display: inline-table;
    background: rgba(0,0,0,0.3);
    border: 4px ridge rgba(100, 149, 237, 0.6);
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 40%;
    padding: 20px;
    color: white;
}
/*Centers package details*/
.center-package {
    transform: translate(35%, 35%);
}
/*package table*/
.table-package {
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 25px 0;
    display: table;
}